<li id="<%= feed_item.id %>">
  <%= link_to gravatar_for(feed_item.user), feed_item.user %>
  <span class="user">
    <%= link_to feed_item.user.name, feed_item.user %>
  </span>
  <span class="content"><%= feed_item.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
  </span>
  <span class="likes">
      <% if feed_item.liked?(current_user) %>
        <%= form_for(current_user.likes.find_by_micropost_id(feed_item.id),
                     html: { method: :delete }) do |f| %>
          <%= f.submit "Dislike", class: "btn btn-large" %>
        <% end %>
      <% else %>
        <%= form_for(current_user.likes.build(micropost_id: feed_item.id)) do |f| %>
          <div><%= f.hidden_field :micropost_id %></div>
          <%= f.submit "Like", class: "btn btn-large btn-primary" %>
        <% end %>      
      <% end %>
  </span>
  <% if current_user?(feed_item.user) %>
    <%= link_to "delete", feed_item, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: feed_item.content %>
  <% end %>
</li>
